body  
{  

    font-family: 'Roboto', sans-serif;
    overflow: visible;

    background-color: rgb(87, 80, 80);
}  

.login{  
    width: 50%; 
    margin-top: 13%;  
    padding: 10%;  
    background: #6d2323;  
    border-radius: 3em;  
    position:absolute;
    margin-left:15%;
    margin-bottom: 15%;
    
}  


a {color:inherit;}


label{
    display: block;
    text-align: center;
}


input{
    margin-top:1em;
}
#username{  
    width: 80%;
    height: 2em;  
    border: none;
    border-radius: 1em;
    margin-left: 4.5em;
}  
#password{  
    width: 80%;
    height: 2em;  
    border: none; 
    border-radius: 1em;
    margin-left: 4.5em;
}  
#log{  
    width: 30%;  
    height: 2em;  
    border: none;  
    border-radius: 1em; 
    margin-left: 35%;
    margin-top: 3em;
    cursor:pointer;
}  

#check{
    margin-left: 4.5em;
}

.optiuni{
    margin-top:3em;
    display: block;
    text-align:center;
}
@media only screen and (max-width: 600px){
    .login{
        align-content: center;
    }
    #username{
        margin-left: 0.75em;
    }
    #password{
        margin-left: 0.75em;
    }
    label{
        margin-left: 0.75em;
    }
    #check{
        margin-left: 0;
    }
    #log{
        margin-left: 0.75em;
    }
    body::after{
        bottom: -50em;
    }
}

.header{
    background-color: rgb(32, 32, 32);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
}

.header a{
    font-size: 30px;
    text-align: center;
    padding: 20px;
    color: rgb(242, 242, 242);
    text-decoration: none;
    font-family: sans-serif;
}

.header div{
    padding: 20px;
}

.header a:hover{
    background-color: rgb(96, 96, 96);
    color: rgb(0, 0, 0);
    border-radius: 25px;
}