li{
    list-style-type: none;
}

body{
	background-color: rgb(87, 80, 80);
}

.header{
    background-color: rgb(32, 32, 32);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
}

.header a{
	font-size: 30px;
	text-align: center;
	padding: 20px;
	color: rgb(242, 242, 242);
	text-decoration: none;
	font-family: sans-serif;
}

.header div{
	padding: 20px;
}

.header a:hover{
	background-color: rgb(96, 96, 96);
	color: rgb(0, 0, 0);
	border-radius: 25px;
}

.curse{
	width: 50%;
    height: 50%;
    background-color: rgb(204, 204, 255);
    position: absolute;

    margin: auto;
    margin-right:45%;
    border-radius: 25px;
}
.formular{
	width: auto;
    padding: 10%;
    background-color: rgb(204, 204, 255);
    margin-left:60%;
    border-radius: 25px;
    padding-bottom: 6.5%;

}

.formular div{
    margin-bottom: 20px;
    text-align: center;
}
.centrare{
    display: flex;
    justify-content: space-around;
    margin-top:-10%;
}
.buton_curse{
	width: 150px;
    height: 10%;
    background-color: rgb(204, 204, 255);
    margin: 5% 10% 10% 23%;
    border-radius: 25px;
    
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
}

.lista_curse{
    border-color: rgb(255, 102, 178);
    border-style: solid;
    border-radius: 10%;
    margin: 5%;
}

.cursa{
    border-radius: 10%;
    margin: 5%;
}

.cursa li{
    display: inline;
    font-family: sans-serif;
}

.pisici{
    border-radius: 10%;
    border-color: rgb(76, 0, 153);
    margin: 5%;
    border-style: solid;
    font-family: sans-serif;
}