body  
{  
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: visible;
    padding:0;
    background-color: rgb(87, 80, 80);
}  


.register{  
    width: 50%; 
    margin-top: 13%;  
    padding: 10%;  
    background: #6d2323;  
    border-radius: 3em;  
    position:relative;
    margin-left:15%;
    margin-bottom: 15%;
    
}  

a {color:inherit;}


label{
    display: block;
    text-align: center;
}

ul{
    list-style-type: none;
    align-content: center;
    margin-right: 1em;
}
input{
    margin-top:1em;
}
#username{  
    width: 80%;  
    height: 2em;  
    border: none;  
    border-radius: 1em; 
    margin-left: 4.5em;
    margin-top: 1em;
}  

#email{  
    width: 80%;  
    height: 2em;  
    border: none;  
    border-radius: 1em; 
    margin-left: 4.5em;
    margin-top: 1em;
}  
#password{  
    width: 80%;  
    height: 2em;  
    border: none;  
    border-radius: 1em; 
    margin-left: 4.5em;
    margin-top: 1em;
}
#password_confirm{  
    width: 80%;  
    height: 2em;  
    border: none;  
    border-radius: 1em; 
    margin-left: 4.5em;
    margin-top: 1em;
}  
#register{  
    width: 30%;  
    height: 2em;  
    border: none;  
    border-radius: 1em; 
    margin-left: 35%;
    margin-top: 3em;
    cursor:pointer;
}  

#check{
    margin-left: 4.5em;
}

@media only screen and (max-width: 600px){
    .login{
        align-content: center;
    }
    #Username{
        margin-left: 0.75em;
    }
    #Password{
        margin-left: 0.75em;
    }
    label{
        margin-left: 0.75em;
    }
    #check{
        margin-left: 0;
    }
    #log{
        margin-left: 0.75em;
    }
    body::after{
        bottom: -50em;
    }
}
