li{
    list-style-type: none;
}

body{
    background-color: #dfe6ed;
}

.header{
    background-color: rgb(32, 32, 32);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
}

.header a{
    font-size: 2vw;
    text-align: center;
    padding: 20px;
    color: rgb(242, 242, 242);
    text-decoration: none;
    font-family: sans-serif;
}

.header div{
    padding: 20px;
}

.header a:hover{
    background-color: rgb(96, 96, 96);
    color: rgb(0, 0, 0);
    border-radius: 25px;
}

.formular{
    width: 15%;
    height: 25%;
    background-color: #dfe6ed;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 125%;
}

.container{
    display: flex;
    flex-direction: column;
}

.container b{
    color: #4b5c6b;
    display: block;
    text-align: center;
}

.register-btn{
    background-color: #d3455b;
    width: 30%;
    display: block;
    align-self: center;
    color: white;
}
